<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ios decal</string>
	<string>moffit library</string>
	<string>cory hall</string>
	<string>sociology</string>
	<string>computer science</string>
	<string>data science</string>
	<string>midterm</string>
	<string>computer security</string>
	<string>go bears</string>
	<string>machine learning</string>
</array>
</plist>
